<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>50 deadlisest terrorist attacks in western Europe</h1>
  <table border=1 cellpadding=7>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Year</th>
      <th>Type of attack</th>
      <th>Target</th>
      <th>Number of dead</th>
      <th>Terrorist organisation</th>
      <th>Motive</th>
      <th>Weapons</th>
    </tr>
    {% for obj in object_list %}
    <tr>
      <td><a href="{{ obj.id }}/">{{ obj.city }}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.country_txt}}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.iyear }}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.attacktype1_txt}}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.target1 }}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.nkill }}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.gname }}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.motive }}</a></td>
      <td><a href="{{ obj.id }}/">{{ obj.weapdetail}}</a></td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
