<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <title>Terror</title>
</head>
<body>
  <nav>
    <!-- <a href="">
      <img src="">
    </a> -->
  </nav>
  <header>
    <h1>50 worst acts of terrorism in Western Europe</h1>
    <div class="byline">
      By <a href="https://twitter.com/JureStabuc">Jure Stabuc</a>
    </div>
  </header>
  <div id="map" style="width:100%; height:400px;"></div>
  <table border=1 cellpadding=7>
    <tr>
      <th>City</th>
      <th>Country</th>
      <th>Year</th>
      <th>Type of attack</th>
      <th>Target</th>
      <th>Number of dead</th>
      <th>Carried out by</th>
      <!-- <th>Motive</th> -->
      <!-- <th>Weapons</th> -->
    </tr>
    {% for obj in object_list %}
    <tr>
      <td><a href="{{ obj.id }}/">{{ obj.city }}</a></td>
      <td>{{ obj.country_txt}}</td>
      <td>{{ obj.iyear }}</td>
      <td>{{ obj.attacktype1_txt}}</td>
      <td>{{ obj.target1 }}</td>
      <td>{{ obj.nkill }}</td>
      <td>{{ obj.gname }}</td>
      <!-- <td><a href="{{ obj.id }}/">{{ obj.motive }}</a></td> -->
      <!-- <td><a href="{{ obj.id }}/">{{ obj.weapdetail}}</a></td> -->
    </tr>
    {% endfor %}
  </table>
  <script type="text/javascript">
    var map = L.map("map").setView([50.0000, 20.0000], 4);
    var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>.'
    });
    map.addLayer(osmLayer);
    var data = {
      "type": "FeatureCollection",
      "features": [
        {% for obj in object_list %}
        {
          "type": "Feature",
          "properties": {
            "city": "{{ obj.city }}",
            "id": "{{ obj.id }}"
          },
          "geometry": {
            "type": "Point",
            "coordinates": [{{ obj.longitude }}, {{ obj.latitude }}]
          }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    };
    var dataLayer = L.geoJson(data, {
      onEachFeature: function(feature, layer) {
        layer.bindPopup(
          "<a href = '" + feature.properties.id + "/'>" + feature.properties.city + "</a>"
        );
      }
    });
    map.addLayer(dataLayer);
  </script>

</body>
</html>
